# DATA TYPES AND STRUCTURES QUESTION

1. What are data structures, and why are they important?
   -  Data Structures is the way of storing and organizing the data in the structured format Python has built-in support for several data structures, such as lists, dictionaries, and sets. Other data structures can be implemented using Python classes and objects, such as linked lists, stacks, queues etc.
   **Importance of data structures:-**
    Efficient-The right data structure leads to faster and more memory-efficient algorithms.
    Organized Data Management-Data structures help in organizing and storing data logically.
    Scalability-Choosing the right structure helps applications handle large data volumes efficiently.
    Foundation for Algorithms.

2. Explain the difference between mutable and immutable data types with examples.
   - 	Mutable are the data types that can be changed after creation, means their content or values can be modified. Some mutable data types-list, dict and sets.
   For Example-
      list = [1, 2, 3]
      list[0] = 10 --> Modifying the first element
      print(list)
   Output-[10,2,3]
   Immutable are the data types that cannot be changed after creation. Any "change" creates a new object. Some Immutable data types-int, float, string, tuple etc.
   For Example
      x = "hello"
      x = x + " world"
      print(x)
3. What are the main differences between lists and tuples in Python.
  - 	Both lists and tuples are used to store collections of items but the  main difference is  that lists are mutable and syntax is written in      square brackets[]and tuples are immutable  and the syntax is written in parenthesis().

4. Describe how dictionaries store data.
   -   A dictionary in Python is a built-in data structure that stores   key-value pairs and It is unordered.
Example-
dict = {"name": "Mayank", "age": 25}
print(dict["name"])  -->("name") = stores ("name", "Alice"),("age")= stores ("age", 30)
Output: Mayank

5.  Why might you use a set instead of a list in Python.
  - 	A set and a list both store collections of items but
    •	Sets only store unique items.
    •	(In) operator is much faster with sets than lists.
    •	Sets are unordered
    •	Sets support mathematical set operations.

6.  What is a string in Python, and how is it different from a list?
   -  	A string in Python is a sequence of characters, used to store and manipulate text and each character in the string can be accessed using indexing.
     For Example-
       My_string=”Hello World”
       Print(My_string)
      Output-“Hello World”
      If we talk about difference in string we can store only characters and is immutable in nature but list can contain any data type like int, string  etc.
      Example-
        text = "cat"
        text[0] = "b"   -->Error: strings are immutable
        new_text = "b" + text[1:]  -->by this way we can mutate it.
        print(new_text)  -->Output: "bat"

        items = ["c", "a", "t"]
        items[0] = "b"   --> Lists are mutable
        print(items)    -->Output: ["b", "a", "t"]

7. How do tuples ensure data integrity in Python?
  -  Tuples ensure data integrity by being immutable and making them ideal for storing fixed, unchangeable sets of related data that must remain consistent and secure across a program.
    Example-
      user_info = ("Mayank", 30, "Lucknow")
      user_info[1] = 35
      print(user_info)
      Output- Error

8. What is a hash table, and how does it relate to dictionaries in Python.
  -  A hash table is a data structure that provides fast access to data using key-value pairs. It uses a hash function to compute an index (or "hash code") into an array of buckets or slots, from which the desired value can be found quickly.
  In Python, the built-in dict type is implemented using a hash table.
  Example:
  my_dict = {'apple': 3, 'banana': 5}
  print(my_dict['apple'])  --> Output: 3
  'apple' is the key and 3 is the value.
  Python internally computes a hash of 'apple' to determine where to store or find its value in memory.

9. Can lists contain different data types in Python?
  - 	Yes, lists can contain different data types, as lists in python are heterogeneous, that means they can store elements of different data types in the same list.

10.  Explain why strings are immutable in Python?
  -  Strings are immutable in Python, beacause once a string is created, it cannot be changed. Any operation that seems to modify a string actually creates a new string.

11. What advantages do dictionaries offer over lists for certain tasks?
   -  Advantages do dictionaries offer over lists for certain tasks are-
     1.Dictionaries allow fast access to values using keys.
     2.Dictionaries make your code more readable by using descriptive keys instead of numeric indices.
     3.If the order of items doesn't matter, dictionaries are ideal for storing data as key-value pairs, like configurations, object attributes, or mappings.
     4.Dictionaries automatically prevent duplicate keys, which is useful when you need a unique identifier for each value.

12. Describe a scenario where using a tuple would be preferable over a list?
   -  A tuple is preferable over a list when you want to represent fixed, unchangeable data.
   Tuples can be used as dictionary keys or stored in sets, because they are immutable.
   Imagine you're working on a program that handles GPS data:
   location = (40.7128, -74.0060) --> Here the coordinates cant be changed.

13.  How do sets handle duplicate values in Python?
   -  In Python, sets automatically eliminates duplicate values. When you create or update a set, any duplicates are removed silently, because a set is a collection of unique, unordered elements.
   For Example:
       my_set = {1, 2, 2, 3, 3, 3}
       print(my_set)
   Output: {1,2,3}

14.  How does the “in” keyword work differently for lists and dictionaries?
   -  The in keyword is used to check for membership in a collection, but its behavior differs depending on the type of collection — particularly between lists and dictionaries.
   "in" with Lists:
   fruits = ['apple', 'banana', 'cherry']
   print('banana' in fruits)
   Checks if a value exists in the list or not.
   "in" with Dictionary:
   prices = {'apple': 1.0, 'banana': 0.5}
   print('banana' in prices)
   Checks if a key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
  -  No, you cannot modify the elements of a tuple in Python because tuple is immutable and Once a tuple is created, its elements cannot be changed, added to, or removed.


16. What is a nested dictionary, and give an example of its use case?
  -  A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries. This creates a hierarchy of key-value pairs, which is useful for modeling structured or grouped data.

  Example:
  students = {
    "sachin": {
        "age": 20,
        "grades": {"Math": 90, "English": 85}
    },
    "satyam": {
        "age": 22,
        "grades": {"Math": 88, "English": 92}
    }
}

17.  Describe the time complexity of accessing elements in a dictionary?
   -  In Python, accessing an element in a dictionary (i.e., using dict[key]) is typically:  O(1) — Constant time, on average.

18. In what situations are lists preferred over dictionaries?
   -  Lists are preferred over dictionaries in Python when:
     1.Use a list when you need to access elements by position.
     2.If you're just storing a collection of values, without needing to label each one, a list is simpler and more memory-efficient.
     3.Lists are ideal for loops where you're processing elements in order.
     4.Lists can contain duplicate values, unlike dictionaries.
     5.Lists support efficient indexing, slicing, and reversing.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   -  Dictionaries were unordered because:
      1.They use hash tables internally to store key-value pairs.
      2.Keys are placed in the hash table based on their hash value, not insertion order.
      3.This means the order of keys when you iterate over the dictionary was arbitrary and could change.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
   -  1.You retrieve elements in list by their position (index) in the list and where as in dictionary by their unique key.
      2.To check if a value exists ('banana' in fruits), Python searches the list from start to end but in dictionary Python uses a hash function to jump directly to the key’s value.
      3.Time complexity of lists is O(1) i.e very fast but in dictionary is O(1) on average very fast.

# PRACTICAL PORTION

In [1]:
# 1.Write a code to create a string with your name and print it.

In [4]:
my_name="Mayank Veer singh"
print("My name is",my_name)

My name is Mayank Veer singh

In [ ]:
# 2.Write a code to find the length of the string "Hello World"?

In [11]:
name="Hello World"
length=len(name)
print("The length of string is:",length)

The length of string is: 11

In [12]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"

In [13]:
name="Python programming"
sliced_name=name[0:3]
print("The first 3 charaters from the string are:",sliced_name)

The first 3 charaters from the string are: Pyt

In [14]:
# 4.Write a code to convert the string "hello" to uppercase.

In [15]:
name="hello"
upper_name=name.upper()
print("The converted string to uppercase is:",upper_name)

The converted string to uppercase is: HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [17]:
fruits=("I like apple")
replaced_fruit=fruits.replace("apple","orange")
print("The replaced string is:",replaced_fruit)

The replaced string is: I like orange

In [18]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.

In [19]:
list=[1,2,3,4,5]
print("The list is:",list)

The list is: [1, 2, 3, 4, 5]

In [20]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [26]:
numbers=[1, 2, 3, 4]
numbers.append(10)
print("Updated list:",numbers)

Updated list: [1, 2, 3, 4, 10]

In [27]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [29]:
number=[1,2,3,4,5]
number.remove(3)
print("The removed number is:",number)

The removed number is: [1, 2, 4, 5]

In [30]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [34]:
list=['a','b','c','d']
new=list[1]
print("The second element is:",new)

The second element is: b

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [43]:
list=[10,20,30,40,50]
list.reverse()
print("Reversed List:",list)

Reversed List: [50, 40, 30, 20, 10]

In [ ]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [45]:
my_tuple=(100,200,300)
print("The Tuple elements are:",my_tuple)

The Tuple elements are: (100, 200, 300)

In [46]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [53]:
my_tuple=('red','green','blue','yellow')
second_last=my_tuple[-2]
print("The second last element is:",second_last)

The second last element is: blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [54]:
my_tuple=(10,20,5,15)
min_value=min(my_tuple)
print("The minimum number is:",min_value)

The minimum number is: 5

In [55]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [59]:
my_tuple=('dog','cat','rabbit')
index=my_tuple.index('cat')
print("The index of element 'cat' is:",index)

The index of element 'cat' is: 1

In [ ]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [60]:
fruits=("banana","kiwi","grapes")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [ ]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [62]:
my_set={'a','b','c'}
print("My sets is:",my_set)

My sets is: {'b', 'a', 'c'}

In [63]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [64]:
my_sets={'a','b','c'}
my_sets.clear()
print("My sets has been cleared:",my_sets)

My sets has been cleared: set()

In [ ]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [65]:
my_sets={1,2,3,4}
my_sets.remove(4)
print("The removed element is:",my_sets)

The removed element is: {1, 2, 3}

In [66]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [68]:
set1={1,2,3}
set2={3,4,5}
new_union=set1.union(set2)
print("The union of two sets is:",new_union)

The union of two sets is: {1, 2, 3, 4, 5}

In [69]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [71]:
set1={1,2,3}
set2={2,3,4}
new_inter=set1.intersection(set2)
print("The intersection of two sets is:",new_inter)

The intersection of two sets is: {2, 3}

In [ ]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [73]:
my_dict={"name":"Mayank Veer Singh","age":25,"city":"Lucknow"}
print("My dictionary is:",my_dict)

My dictionary is: {'name': 'Mayank Veer Singh', 'age': 25, 'city': 'Lucknow'}

In [ ]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [74]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [75]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [76]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

In [ ]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [77]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [78]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [79]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [80]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

In [84]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [18, 32, 71, 71, 79]

In [85]:
# 28.Write a code to create a list with strings and print the element at the third index.

In [86]:
words = ["apple", "banana", "cherry", "date", "fig"]
print("Element at index 3:", words[3])

Element at index 3: date

In [87]:
# 29. Write a code to combine two dictionaries into one and print the result.

In [88]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30.Write a code to convert a list of strings into a set.

In [89]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}